
div {
    margin: 10px auto;
  }
  
  svg {
    max-width: 100%;
    height: auto;
  }
  .input-label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .wider-input {
    width: 400px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .slider-value {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }
  